@use '../../../scss/index' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-light-1;
    padding: $padding-header;

    .title {
        margin: 0;
    }

    .buttonWrapper {
        @media (max-width: $screen-tablet) {
            display: flex;
            height: auto;
            justify-content: end;
        }
    }

    @media (max-width: $screen-tablet) {
        display: block;
        height: auto;
    }

    @media (max-width: $screen-mobile) {
        padding: $padding-header-mobile;
    }
}