@use '../../../scss/index' as *;

.trainingSidebar {
    height: 100vh;
    :global {
        .ant-drawer-content-wrapper,
        .ant-drawer-content {
            border-radius: 8px 0 0 8px;

            @media (max-width: $screen-mobile) {
                border-radius: 24px 24px 0 0;
            }
        }
        .ant-drawer-body {
            overflow: hidden;
            padding: 24px 32px;

            @media (max-width: 675px) {
                padding: 24px 16px;
            }
        }
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .title {
            margin-bottom: 0;
            div {
                color: $character-light-title-85;
            }
        }

        .buttonClose {
            color: $character-light-secondary-45;
        }
    }

    .selectsWrapper {
        display: flex;
        flex-direction: column;

        .selectTraining {
            margin-bottom: $gap-big;
        }

        .datePickWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $gap-small;

            .datePicker {
                width: 156px;
            }

            :global {
                .ant-checkbox,
                .ant-checkbox-checked {
                    span {
                        border-color: $primary-light-6;
                    }
                }
    
                .ant-checkbox-checked {
                    span {
                        background: $primary-light-6;
                    }
                }
            }
        }
    }

    .exercisesList {
        margin: 0;
        padding: 24px 0 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-height: 75%;
        overflow-y: auto;
        list-style-type: none;
    }

    .buttonsWrapper {
        position: sticky;
        margin-top: 24px;
        background-color: $charactre-light-dividers;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .addRemoveButton {
            color: $primary-light-6;
        }
    }

    .footerButton {
        @include color-button-primary;
    }
}