@use '../../scss/index' as *;

.messageCard {
    background: $character-light-primary-inverse;
    padding: 64px 32px;
    max-width: 539px;
    width: 100%;

    :global {
        .ant-result-title {
            font-weight: $font-weight-bold-mobile;
        }
    }
    .messageButton {
        @include color-button-primary;
    }
}
