.main_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_wrapper {
    margin-top: 32px;
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    justify-content: space-between;
    row-gap: 24px;
}

.content_list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.empty_book_list {
    position: absolute;
    align-self: center;
    justify-self: center;
    margin-top: 200px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}

@media (max-width: 900px) {

    .content_wrapper {
        margin-top: 23px;
    }

    .content_grid {
        row-gap: 32px;
    }
}

@media (max-width: 600px) {

    .content_grid {
        grid-template-columns: repeat(auto-fit, 288px);
        row-gap: 20px;
    }

}