@use '../../../scss/index' as *;

.uploadButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-buttons-wrapper;
    gap: $gap-small;

    .textImageButton {
        line-height: $line-height;
    }
}

.imageWrapper {
    width: 104px;
    border: $border-upload-image;
    border-radius: 2px;
    padding: 9px;
}


.image {
    width: 100%;
}