@use '../../scss/index' as *;

.autContainer {
    @include full-width;
    background: url('./assets/img/auth-background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 1024px;

    .authWrapper {
        display: grid;
        align-items: center;
        justify-items: center;
        @include full-width;
        background: rgba(121, 156, 212, 0.5);
        backdrop-filter: blur(6px);
    }

    @media (max-width: $screen-tablet) {
        min-height: 1194px;
    }

    @media (max-width: $screen-mobile) {
        min-height: 800px;
    }
}