@use '../../scss/index' as *;

.layoutWorkouts {
    margin: $page-wrapper;
    padding: $page-wrapper;
    background-color: $character-light-primary-inverse;
    height: calc(100% - 64px);
    border-radius: $border-radius-content;

    :global {
        .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
            width: 100%;
            justify-content: space-between;

            .ant-tabs-ink-bar {
                background: $primary-light-6;
            }
        }

        .ant-tabs-tab,
        .ant-tabs-tab-active {
            padding: 0;
            font-size: $size-header-medium;
            font-weight: $font-weight-bold-mobile;
        }
        .ant-tabs-tab-active {

            .ant-tabs-tab-btn {
                color: $primary-light-6;
            }
        }
    }
}