@use '../../../scss/index' as *;

.inputPassword {
    :global {
        .ant-form-item-explain {
            font-size: $size-small;
        }

        .ant-input-password-icon.anticon {
            color: $primary-light-6;

            &.anticon-eye-invisible {
                color: rgba(0, 0, 0, 0.45);
            }
        }
    }
}