.layout {
    height: 100%;
    background: transparent;

    min-height: 1024px;


    @media (max-width: 834px) {
        min-height: 1194px;
    }

    @media (max-width: 675px) {
        min-height: 1362px;
    }
}

:global {
    .ant-layout {
        background: transparent;
    }
}
:global {
    .ant-layout.ant-layout-has-sider {
        background: url('./assets/img/background.jpg');
        background-size: cover;
        background-position: center;
    }
}
:global {
    .ant-layout-content {
        padding: 24px;

        @media (max-width: 675px) {
            padding: 24px 18px;
        }
    }
}
