@use '../../scss/index' as *;

.feedbacksSection {
    height: 100%;
    margin: $page-wrapper;

    @media (max-width: $screen-mobile) {
        margin: $page-wrapper-mobile;
    }

    .feedbacksList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        list-style-type: none;
        overflow-y: auto;
        max-height: 80%;
    }

    .buttonsWrapper {
        position: sticky;
        bottom: 0;
        padding-top: 112px;
        display: flex;
        gap: 8px;

        .buttonFeedback {
            @include color-button-primary;
        }

        .buttonShowAll {
            color: $primary-light-6;
        }

        @media (max-width: $screen-mobile) {
            flex-direction: column;
            padding-top: 32px;
            .buttonFeedback,
            .buttonShowAll {
                display: block;
                width: 100%;
            }  
        }
    }
}

