@use './scss/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: $font-family;
    line-height: 130%;
}

#root {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.ant-modal-wrap {
    backdrop-filter: blur(6px);
    background: rgba(121, 156, 213, 0.1);
}
