@use './vars' as *;

@mixin light-container {
    padding: 24px;
    background: $character-light-primary-inverse;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);

    @media (max-width: 675px) {
        padding: 16px;
    }
}

@mixin color-button-primary {
    border-color: $primary-light-6;
    background: $primary-light-6;

    &:disabled {
        border: 1px solid $character-light-border;
        background: $character-light-background;
    }
}