@use './vars' as *;

@mixin light-container {
    padding: 24px;
    background: $character-light-primary-inverse;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);

    @media (max-width: 675px) {
        padding: 16px;
    }
}

@mixin color-button-primary {
    border-color: $primary-light-6;
    background: $primary-light-6;
    @media (max-width: 675px) {
        font-size: $size-semi-small;
    }

    &:disabled {
        border: 1px solid $character-light-border;
        background: $character-light-background;
    }
}

@mixin calendar-button-size {
    width: 14px;
    height: 14px;
}

@mixin button-size-big {
    width: 24px;
    height: 24px;
}

@mixin full-width {
    width: 100%;
    height: 100%;
}

@mixin calendar-modal {
    position: absolute;
    z-index: 1000;
    width: 264px;

    
    @media (max-width: $screen-mobile) {
        width: calc(100% - 48px);
        margin-left: 24px;
    }
}

@mixin upload-container-size {
    width: 104px;
    height: 105px;
}

@mixin avatar {
    background-color: $character-light-background;
    
    span {
        color: $character-light-title-85;
    }
}