$character-light-primary-inverse: #fff;
$charactre-light-dividers: #f0f0f0;
$primary-light-1: #f0f5ff;
$primary-light-6: #2f54eb;
$primary-light-9: #061178;

$font-family: 'Inter', sans-serif;

$size-header-medium: 24px;
$size-header-small: 20px;

$size-basic: 16px;

$font-weight-bold: 700;
$font-weight-bold-mobile: 500;
$font-weight-regular: 400;

