@use '../../../scss/index' as *;

.trainingSidebar {
    :global {
        .ant-drawer-content-wrapper,
        .ant-drawer-content {
            border-radius: 8px 0 0 8px;

            @media (max-width: $screen-mobile) {
                border-radius: 24px 24px 0 0;
            }
        }
        .ant-drawer-body {
            padding: 24px 32px;

            @media (max-width: 675px) {
                padding: 24px 16px;
            }
        }
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .title {
            margin-bottom: 0;
            div {
                color: $character-light-title-85;
            }
        }

        .buttonClose {
            color: $character-light-secondary-45;
        }
    }

    .selectsWrapper {
        display: flex;
        flex-direction: column;

        .datePickWrapper {
            display: flex;
        }
    }
}