@use '../../scss/index' as *;

.card {
    padding: 0;

    :global {
        .ant-card-body {
            padding: 64px 85.5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 675px) {
                padding: 24px 14px;
            }
        }
    }

    .cardTitle {
        margin-bottom: 32px;

        @media (max-width: 675px) {
            text-align: center;
        }
    }

    .inputsWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .buttonSavePassword {
        margin-top: 40px;
        @include color-button-primary;
    }

    @media (max-width: 675px) {
        max-width: 328px;
    }
}